html,
body {
  min-width: 1200;
  min-height: 2762;
}

body {
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 26px;

  background-color: rgb(255, 255, 255);
  background-position: top center;
  background-repeat: no-repeat;
}

* {
  outline: 1px solid red;
}

.container {
  margin: 0 auto;

  width: 1200px;
}

.main-page {
  background-image: url("../img/intro-background.jpg");
}

a {
  text-decoration: none;
}

/* VISUALLY-HIDDEN */

.visually-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);

  width: 1px;
  height: 1px;
  padding: 0;
	overflow: hidden;

  border: 0;
}

/* BUTTON */

.button {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
  color: rgba(255, 255, 255);

  border: none;
}

.button-brown {
  background-color: rgb(118, 99, 87);
}

.button-brown:hover,
.button-brown:focus {
  background-color: rgb(96, 78, 67);
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(80, 62, 51);
}

.button-blue {
  background-color: rgb(129, 179, 210);
}

.button-blue:hover,
.button-blue:focus {
  background-color: rgb(102, 158, 192);
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(84, 150, 189);
}

.button-search {
  margin: 0;
  padding: 0;

  width: 568px;
  height: 86px;
}

/* HEADER */

.page-header {
  display: flex;
  min-height: 57px;

  background-color: rgb(255, 255, 255);
}

.page-header {
  font-weight: 700;
}

.header-logo {
  width: 140px;
  height: 72px;
}

.site-navigation {
  min-width: 1128px;
  min-height: 57px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation a {
  color: rgb(0, 0, 0);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: rgb(129, 179, 210);
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* INTRO */

.intro {
  width: 1200px;
  min-height: 106px;
  margin: 0;
  margin-top: 576px;
  margin-bottom: 63px;
  padding: 0;

  text-align: center;

  background-color: rgb(255, 255, 255);
}

.intro-text {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

/* SEARCH */

.search {
  width: 1200px;
  min-height: 93px;
  margin: 0;
  padding: 0;

  text-align: center;

  background-color: rgb(255, 255, 255);
}

.search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

/* POPUP */

.popup-search {
  width: 568px;
  min-height: 395;

  background-color: rgb(255, 255, 255);
}

.popup-search label {
  font-weight: 700;
}

.popup-search input {
  font-weight: 700;

  background-color: rgb(242, 242, 242);
  border: none;
}

.popup-search input[type="text"],
.popup-search input[type="password"] {
  font: inherit;
  font-weight: 700;
  text-transform: uppercase;
}

.popup-age-number,
.popup-calendar {
  background-color: rgb(242, 242, 242);
  border: none;
}

.popup-item {
  font-weight: 700;
}

/* FOOTER */

.page-footer {
  background-color: rgb(255, 255, 255);
}

.footer-wrap {
  display: flex;
  justify-content: space-around;

  width: 1056px;
  min-height: 120px;
  margin: 0;
  margin-top: 172px;

  padding: 0;
}

.tag {
  width: 241px;
  min-height: 120px;
  margin: 0;
  margin-top: 40px;
}

.tag a {
  font-size: 21px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.tag a:hover,
.tag a:focus {
  color: rgb(129, 179, 210);
}

.tag a:active {
  color: rgba(0, 0, 0, 0.3);
}

.social {
  width: 401px;
  min-height: 120px;
  margin: 0;
  padding-top: 40px;

  list-style: none;
}

.copyright {
  width: 241px;
  min-height: 120px;
  margin: 0;
  padding-top: 40px;
}

/* CATALOG */

.hotel-list {
  display: flex;
  flex-direction: column;

  list-style: none;
}

.hotel-item {
  width: 1056px;
  min-height: 150px;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

.hotel-details,
.hotel-reserve {
  font-size: 14px;
  font-weight: 700;
}

.hotel-rating {
  color: rgb(102, 102, 102);

  background-color: rgb(242, 242, 242);
}

.hotel-type,
.hotel-price {
  color: rgb(51, 51, 51);
}

.hotel-name {
  font-size: 21px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.hotel-name:hover,
.hotel-name:focus {
  color: rgb(129, 179, 210);
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}
